<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "partials/meta-tags.njk" %}
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">
    {% for file in stylesheets %}<link rel="stylesheet" href="/assets/css/{{ file }}" />{% endfor %}
    {% if head %}{{ head | safe }}{% endif %}
  </head>
  <body>
    {{ content | safe }}
    {% for file in scripts %}<script src="/assets/js/{{ file }}" type="module"></script>{% endfor %}
    {% if foot %}{{ foot | safe }}{% endif %}
  </body>
</html>