{% set layoutId = "blog" %}
{% extends "layouts/base.njk" %}

{% block skiplinks %}
<a class="skiplink" href="#sidebar-content">Skip to sidebar content</a>
{% endblock %}

{% block crown %}
<section class="blog-crown" style="background-color:darkgreen;color:white;font-size:3rem;padding:40px;text-align:center;width:calc(100% - 80px);">
    <h1>{{ renderData.title or title }}</h1>
</section>
{% endblock %}

{% block sidebar %}
<aside class="blog-sidebar" id="sidebar-content">
    {% include "widgets/tag-cloud.njk" %}
    {% include "widgets/tag-list.njk" %}
    {% include "widgets/archive.njk" %}
</aside>
{% endblock %}

{% block baseboard %}
<section class="blog-baseboard">
    {% include "widgets/search-bar.njk" %}
    {% include "widgets/recent-posts.njk" %}
</sectino>
{% endblock %}