---
layout: layouts/base.njk
---

<a class="skiplink" href="#main-content">Skip to main content</a>

{% include "partials/header.njk" ignore missing %}  

<main class="site-main" id="main-content">{{ content | safe }}</main>

<aside class="site-aside">
    {% include "partials/search-bar.njk" %}
    {% include "partials/tag-list.njk" %}
    {% include "partials/archive.njk" %}
</aside>

{% include "partials/footer.njk" ignore missing %}