<div class="archive">
    <h3>Archive</h3>
    <ul>
        {% for year, months in collections.postsByDate %}
            <li>
                <span class="archive__title" data-type="year">{{ year }}</span>
                <ul>
                    {% for month, posts in months %}
                        <li>
                            <span class="archive__title" data-type="month">{{ month }}</span>
                            <ul>
                                {% for post in posts %}
                                    <li>
                                        <a class="archive__link" href="{{ post.url }}">{{ post.data.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>