{# 
    Lightly modified from:
    https://github.com/hankchizljaw/hylia/blob/master/src/_includes/partials/global/meta-info.njk
 #}

{% set pageTitle = renderData.title or title %}
{% set fullTitle = ((pageTitle + ' - ') if pageTitle else '') + metadata.title %}
{% set pageDesc = description or metadata.description %}
{% set siteTitle = metadata.title %}
{% set currentUrl = metadata.url + page.url %}

{% if metaTitle %}
    {% set fullTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
    {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ fullTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>

<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>

{% if site.authorHandle %}
    <meta name="twitter:creator" content="@{{ metadata.author.twitter | replace('@', '') }}"/>
{% endif %}

<meta name="description" content="{{ pageDesc }}"/>
<meta name="twitter:description" content="{{ pageDesc }}"/>
<meta property="og:description" content="{{ pageDesc }}"/>

{% if postImage %}
    {% set socialImage = postImage | imageUrl | absoluteUrl(metadata.url) %}
{% endif %}

{% if socialImage %}
    <meta property="og:image" content="{{ socialImage }}"/>
    <meta name="twitter:image" content="{{ socialImage }}"/>
    <meta property="og:image:alt" content="Page image for {{ metadata.title }}"/>
    <meta name="twitter:image:alt" content="Page image for {{ metadata.title }}"/>
{% endif %}