<form class="search-bar" action="https://duckduckgo.com/">
    <input aria-hidden="true" hidden name="sites" value="{{ metadata.url }}" />
    <input aria-label="Search query" name="q" type="search" autocomplete="off" />
    <button>Search</button>
    <small class="search-bar__attribution">Search powered by <a href="https://duckduckgo.com/" target="_blank" rel="noreferrer">DuckDuckGo</a></small>
</form>